.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.home__container{
    /* width: fit-content; */
    height: 500px;
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0,1,1,1), rgba(0,0,0,0));
}

.home__row{
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.ad__image{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    width: 98%;
    /* max-height: 400px; */
    min-width: 100px;
    background-color: white;
    /* z-index: 1; */
    cursor: pointer;
}

.ad__banner{
    width: 100%;
    height: 100%;
}

.inside__ad{
    width: 260px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}